  <section class="event current {{event.status}}">
      <header class="flex">
        <h3>{{event.title}}</h3>
        {% if event.tags %}<span class="tags">{{event.tags|join(', ')}}</span>{% endif %}
        {% if show_edit %}<a href="edit/{{event.id}}">Edit</a>{% endif %}
      </header>
      <div class="content">
        {% if event.start %}
        <p class="muted">
          Incident start: {{event.start}}
          {% if event.closed %}
          <br>
          Incident closed: {{event.closed}}
          {% endif %}
        </p>
        {% endif %}
        {% if event.system_status %}
        <p>
          System status: <span class="{{event.system_status}}">{{event.system_status|capitalize()}}</span>
          <br>
          User impact: <span class="{{event.user_impact}}">{{event.user_impact|capitalize()}}</span>
        </p>
        {% endif %}
        {{event.body|safe}}
        {% for update in event.updates %}
          <p class="update">
          {% if update.title %}<strong>{{update.title}}</strong> - {% endif %}
          {{update.body|safe}}
         <br>
         <small>{{update.time}}</small>
          </p>
        {% endfor %}
      </div>
    </section>
