  <section class="event current {{event.status}}">
      <header class="flex">
        <h3>{{event.title}}</h3>
        {% if event.tags %}<span class="tags">{{event.tags|join(', ')}}</span>{% endif %}
      </header>
      <div class="content">
        <p><span class="muted">{{event.start}}</span> </p>
        {{event.body|safe}}
        {% for update in event.updates %}
          <p class="update">
          {% if update.title %}<strong>{{update.title}}</strong> - {% endif %}
          {{update.body|safe}}
         <br>
         <small>{{update.time}}</small>
          </p>
        {% endfor %}
      </div>
    </section>
