{% extends 'layout.html' %}
{% block head %}
    <meta http-equiv="refresh" content="60">
{% endblock %}
{% block body %}
  {% if not current %}
    <div class="all-systems status-ok">
      <h2>All Systems Operational</h2>
    </div>
  {% endif %}
  {% for event in current %}
    {% include "current_event.html" %}
  {% endfor %}

  <section class="overview two-column">
    {% for product in products %}
    <div class="flex item">
      <p>{{product}}</p><p class="{{service_status[product]|default('operational')}}">{{service_status[product]|default('operational')|capitalize()}}</p>
    </div>
    {% endfor %}
  </section>
  {% for event in info %}
    {% include "current_event.html" %}
  {% endfor %}
  {% if planned %}
  <h2>Upcomming maintenance</h2>
  {% for event in planned %}
    <section class="event maintenance upcomming">
      <header>
        <h3>{{event.title}}</h3>
      </header>
      <div class="content">
        <p><span class="muted">{{event.start}}</span></p>
        {{event.body|safe}}
      </div>
    </section>
    {% endfor %}
  {% endif %}

  <h2>Zoom stats</h2>

  <section id="zoom">
    <section class="flex graphs">
      <a class="flex-1" href="/zoom/zoom_users_current.png">
        <img src="{{static_prefix}}/zoom/zoom_users_current.png">
      </a>
      <a class="flex-2" href="/zoom/zoom_users_one_day.png">
        <img src="{{static_prefix}}/zoom/zoom_users_one_day.png">
      </a>
    </section>
    <p><a href="zoom.html">More zoom stats</a></p>
  </section>
  <section id="timeline">
    <h2>Past Incidents</h2>
    {% if not past %}
     <div class="incident">
       <h3>Today</h3>
       <hr>
       <p>No incidents reported.</p>
     </div>
    {% endif %}
    {% for event in past %}
     <div class="incident">
       <h3>{{event.start}}</h3>
       <hr>
       <h4 class="{{event.status}}">{{event.title}} ({{event.status|capitalize()}})</h4>
       {% for update in event.updates %}
       <p class="update">
         {% if update.title %}<strong>{{update.title}}</strong> - {% endif %}
         {{update.body|safe}}
         <br>
         <small>{{update.time}}</small>
       </p>
       {% endfor %}
     </div>
    {% endfor %}
   </section>
{% endblock %}
