<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Status Page - NORDUnet</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <style type="text/css" media="all">
      {% include 'main.css' %}
    </style>
    {% block head %}
    {% endblock %}
    {% block js %}
    <script charset="utf-8">
      function refreshbody() {
        fetch(window.location)
          .then(function(resp){
            return resp.text()
            })
          .then(function(page) {
            const $page = document.createElement('div');
            $page.innerHTML = page;
            console.log($page.querySelector('body'))
            })
      }
    </script>
    {% endblock %}
  </head>
  <body>
    <header id="header">
      <div class="main">
        <a href="/">
          <img src="https://idp.nordu.net/idp/images/nordunet.png">
        </a>
      </div>
    </header>
    <div class="flex main flex-column">
        <h1>NORDUnet status page</h1>
        {% block body %}
        <div class="all-systems status-ok">
          <h2>All Systems Operational</h2>
        </div>
        {% endblock %}
    </div>
    <footer class="flex main">
      <p>NORDUnet A/S | Kastruplundgade 22 DK-2770 Kastrup DENMARK</p>
    </footer>
  </body>
</html>
