    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        vertical-align:baseline;
        background:transparent;
    }

    html {
       font-family: sans-serif;
       font-size: 16px;
    }

    body {
      line-height: 1;
    }

    footer {
      font-size: 12px;
      color: #808080;
    }
    img {
      max-width: 100%;
    }
    p {
      margin-bottom: 16px;
    }
    a, .link {
      color: #1BAAD7;
      text-decoration: underline;
      cursor: pointer;
    }
    h1,h2,h3,h4,h4 {
      margin: 16px 0 10px 0;
    }
    header {
      padding: 4px 10px;
    }
    #header {
      background-color: #00a8d9;
      width: 100%;
      margin-bottom: 16px;
      padding: 0;
    }

    .ndn-logo {
      width: 255px;
      height: 65px;
    }
    .update small {
      color: #808080;
    }
    .flex {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }

    .graphs {
      min-height: 274px;
    }

    .flex-column {
      flex-flow: column wrap;
    }

    .flex-two:nth-child(odd) {
      flex-basis: 33%;
    }
    .flex-two:nth-child(even) {
      flex-basis: 66%;
    }
    .flex-1 {
      flex-basis: 33%;
    }
    .flex-2 {
      flex-basis: 66%;
    }

    .main {
      max-width: 1024px;
      margin: 0 auto;
    }

    .status-ok {
      color: #FFFFFF;
      background-color: #2fcc66;
    }

    .all-systems {
      padding: 0 10px;
    }

    .overview {
      margin-top: 16px;
    }
    .item {
      border: 1px solid #efefef;
      border-top-width: 0px;
      border-left-width: 0px;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0 8px;
      min-height: 50px;
    }
    
    .item p {
      margin: 0;
    }

    .item:first-child {
      border-radius: 4px 0 0 0;
      border-top-width: 1px;
    }
    .item:nth-child(2) {
      border-radius: 0 4px 0 0;
      border-top-width: 1px;
    }
    .item:nth-child(odd) {
      border-left-width: 1px;
    }

    .item:nth-last-child(1):nth-child(even) {
      border-radius: 0 0 4px 0;
    }

    .item:nth-last-child(1):nth-child(odd) {
      border-radius: 0 0 4px 4px;
    }
    .item:nth-last-child(2) {
      border-radius: 0 0 4px 0;
    }
    .item:nth-last-child(2):nth-child(odd) {
      border-radius: 0 0 0 4px;
    }
    .item:nth-child(2):nth-last-child(2) {
      border-radius: 0 4px 4px 0;
    }
    .two-column {
      display: flex;
      flex-flow: row wrap;
    }

    .two-column .item {
      flex-basis: 100%;
      flex: 1;
      min-width: 40%;
      max-width: 50%;
    }

    #timeline {
      display: none;
    }

    #timeline_show, #timeline_hide {
      display: none;
    }

    #timeline_show:checked + label + #timeline {
      display: block;
    }
    #timeline_show:checked + label {
      display: none;
    }
    #timeline_hide:checked + #timeline {
      display: none;
    }

    .tags {
      font-size: 12px;
      font-weight: normal;
      background: rgba(255,255,255,0.2);
      padding: 4px;
      border-radius: 4px;
    }
    .event {
      margin-bottom: 10px;
      border-radius: 4px;
      box-shadow: 4px 4px 5px #efefef;
    }

    .event h3 {
      margin: 0;
    }

    .event header {
      border-radius: 4px 4px 0 0;
      justify-content: space-between;
      background-color: #ccc;
    }
    .event .content {
      padding: 4px 10px;
      border: 1px solid #efefef;
      border-radius: 0 0 4px 4px;
    }
    .event.outage header, .event.critical header {
      background-color: #f32851;
      color: #ffffff;
    }
    .event.operational header {
      color: #FFFFFF;
      background-color: #2fcc66;
    }
    .event .content {
      color: #000;
    }
    .event.degraded header {
      background-color: #f39128;
      color: #ffffff;
    }
    .event.maintenance header {
      background-color: #3b9aff;
      color: #ffffff;
    }

    .operational {
      color: #2fcc66;
    }
    .degraded {
      color: #f39128;
    }
    .outage, .critical {
      color: #f32851;
    }
    .maintenance {
      color: #3b9aff;
    }

    .muted{
      color: #808080;
    }


    @media all and (max-width: 1034px) {
      .main {
        padding: 0 10px;
      }

      .flex-1, .flex-2 {
        flex-basis: auto;
      }
    }
