{% extends 'layout.html' %}
{% block head %}
  <meta http-equiv="refresh" content="120">
{% endblock %}
{% block body %}

  <h2>Zoom stats</h2>

  {% for event in current %}
    {% if 'Zoom' in event.products %}
    {% include "current_event.html" %}
    {% endif %}
  {% endfor %}

  <h3>Yesterday in numbers</h3>
  <div class="flex">
    <img height="75" src="/zoom/zoom_nbr_meeting_single.png">
    <img height="75" src="/zoom/zoom_meeting_minutes_single.png">
    <img height="75" src="/zoom/zoom_nbr_joins_single.png">
    <img height="75" src="/zoom/zoom_nbr_new_users_single.png">
    <img height="75" src="/zoom/zoom_peak_on_prem_single.png">
  </div>

  <h3>Meeings and minutes - the last 30 days</h3>
  <a href="zoom/zoom_nbr_meetings_daily">
    <img height="400" src="/zoom/zoom_nbr_meetings_daily.png">
  </a>
  <a href="zoom/zoom_meeting_minutes_daily.png">
    <img height="400" src="/zoom/zoom_meeting_minutes_daily.png">
  </a>

  {#<h3>On-Prem curent Zoom Users</h3>
  <a href="/zoom/zoom_users_current.png">
    <img height="400" src="{{static_prefix}}/zoom/zoom_users_current.png">
  </a>
  <h3>On-Prem Zoom Users Last 24 Hours</h3>
  <a href="zoom/zoom_users_one_day.png">
    <img height="400"src="{{static_prefix}}/zoom/zoom_users_one_day.png">
  </a>
  <h3>On-Prem Zoom Users Last Week</h3>
  <a href="zoom/zoom_users_one_week.png">
    <img height="400"src="{{static_prefix}}/zoom/zoom_users_one_week.png">
  </a>
  <h3>Zoom Users Last Four Weeks</h3>
  <a href="zoom/zoom_users_four_weeks.png">
    <img height="400"src="{{static_prefix}}/zoom/zoom_users_four_weeks.png">
  </a>
  #}
{% endblock %}
